**/bin/
**/obj/
**/TestResults/
*.cache
*.tmp
*.log

**/publish/
**/out/

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db

appsettings.*.Local.json
