<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Northwind Customers & Orders</title>

    @* Bootstrap Styles *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Load Kendo UI Styles *@
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/12.2.3/default/default-main.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Creativa.Web.styles.css" asp-append-version="true" />
</head>
<body class="app-body">
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* Bootstrap Bundle *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* AngularJS *@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    @* Load Kendo UI Scripts *@
    <script src="https://kendo.cdn.telerik.com/2025.4.1111/js/kendo.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
